%p
  To use this Todo List Manager, you will need to sign in with your Azure Active Directory credentials

= link_to "Sign in with AzureAD", sign_in_path
= link_to "Sign in with Twitter", sign_in_twitter_path
